DJANGO_DEBUG=False
DJANGO_SECRET_KEY=gere-uma-chave-longa-e-aleatoria
DJANGO_ALLOWED_HOSTS=gatilhauto.pt,www.gatilhauto.pt
DJANGO_CSRF_TRUSTED_ORIGINS=https://gatilhauto.pt,https://www.gatilhauto.pt

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=gatilhauto@gmail.com
EMAIL_HOST_PASSWORD=senha-de-aplicacao-do-google
DEFAULT_FROM_EMAIL=gatilhauto@gmail.com
